@use "@/scss/variables" as var;

.institution {
    width: 400px;
    padding: 1rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -15px;

    &__list {
        display: flex;
        flex-direction: column;
        gap: var.$spacing-md;
        background-color: rgba($color: var.$color-neutro-700, $alpha: 0.9);
        border: 2px solid var.$color-neutro-900;
        padding: var.$spacing-sm;
        border-radius: 8px;
    }
}