@use "@/scss/variables" as var;

.highlighted-products-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    height: 100%;

    &__image {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
        background: var.$color-neutro-200;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: var.$spacing-md;
        gap: var.$spacing-sm;
    }

    &__title {
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
    }

    &__description {
        font-size: var.$font-size-sm;
        color: #555;
        flex-grow: 1;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-bold;
        text-align: right;
    }

    &__actions {
        display: flex;
        justify-content: center;
        gap: var.$spacing-md;
        margin-top: auto;
    }
}