@use "@/scss/variables" as var;

.navbar {
    grid-area: navbar;

    padding: var.$spacing-sm !important;
    background-color: rgba($color: var.$color-neutro-800, $alpha: 0.95);
    border-top: 2px solid var.$color-neutro-700;
    border-bottom: 2px solid var.$color-neutro-700;

    &__menu-icon,
    &__menu-drawer {
        color: var.$color-primary-700;
        display: none !important;
    }

    @media (max-width: 768px) {

        &__menu-icon,
        &__menu-drawer {
            display: block !important;
        }

        &__menu-list {
            display: none !important;
        }
    }
}